# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment variables
.env

# Virtual environments
.venv/
env/
venv/

# Data / models
*.h5
*.hdf5
*.pkl
*.joblib
*.ckpt
*.pt
*.pth
models/
checkpoints/
logs/
runs/

# Datasets
data/
datasets/

# OS / IDE / VSCode files
.DS_Store
.vscode/
.idea/

# Pip dependency files
*.egg-info/
dist/
build/
